@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Use this application to register users.</p>
	<p>
		<a class="btn btn-primary" asp-page="/Register">Register User</a>
	</p>
</div>
