@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Hola!</h1>
	<p>Aplicació per administrar productes.</p>
	<p>
		<a class="btn btn-primary" asp-page="/Products">Productes</a>
	</p>
</div>
